<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right btn_group">
                <button type="button" class="btn btn-primary d-inline-block top-button" id="edit_btn"
                  (click)="editEvent()" *ngIf="flag">
                  <i class="fas fa-building"></i> Edit
                </button>
              </div>
            </div>
          </div>
          <div class="fluid-container">
            <div class="card-body all-icons">

              <div class="row">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-12 px-0">

                  <div *ngIf="data ==null" class="text-center">
                    <p>No Records</p>
                  </div>


                  <form class="forms-sample" [formGroup]="updateEvent" (ngSubmit)="updateEventSubmit(updateEvent)">


                    <div class="col-md-12">
                      <h4 class="display-6 mr-4 text-primary">Event Details</h4>
                    </div>

                    <div class="row">

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="lastName">Company Name</label>
                          <select class="form-control" formControlName="userId"
                            [attr.disabled]="valid == true ? true : null">
                            <option *ngFor="let name of companyName" [ngValue]="name.id">{{name.companyName}}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Organized By</label>
                          <input class="form-control" type="text" [attr.disabled]="valid == true ? true : null"
                            formControlName="organizedBy">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Event Name</label>
                          <input class="form-control" type="text" [attr.disabled]="valid == true ? true : null"
                            formControlName="name">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="firstName">Event Description</label>
                          <input type="text" class="form-control" [attr.disabled]="valid == true ? true : null"
                            formControlName="discription">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="lastName">Interests</label>
                          <select class="form-control" formControlName="typeId"
                            [attr.disabled]="valid == true ? true : null">
                            <option *ngFor="let x of allEvent" [ngValue]="x.id">{{x.typeId}}</option>
                          </select>
                        </div>
                      </div>


                      <div class="col-md-12">
                        <h4 class="display-6 mr-4 text-primary">Price Details</h4>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Price of tickets</label>
                          <input class="form-control" type="number" [attr.disabled]="valid == true ? true : null"
                            formControlName="price">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Reward Points Required to Unlock</label>
                          <input class="form-control" type="number" [attr.disabled]="valid == true ? true : null"
                            formControlName="reward">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Discount on Tickets</label>
                          <input class="form-control" type="number" [attr.disabled]="valid == true ? true : null"
                            formControlName="dicountedPrice">
                        </div>
                      </div>

                      <div class="col-md-12">
                        <h4 class="display-6 mr-4 text-primary">Duration Details</h4>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Regitration start date</label>
                          <input class="form-control" type="date" [attr.disabled]="valid == true ? true : null"
                            formControlName="regStartDate">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Regitration end date</label>
                          <input class="form-control" type="date" [attr.disabled]="valid == true ? true : null"
                            formControlName="regEndDate" min="{{updateEvent.value.regStartDate}}">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Event Start Date</label>
                          <input class="form-control" type="date" [attr.disabled]="valid == true ? true : null"
                            formControlName="startDate">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Event End Date</label>
                          <input class="form-control" type="date" [attr.disabled]="valid == true ? true : null"
                            formControlName="endDate" min="{{updateEvent.value.startDate}}">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Duration</label>
                          <input class="form-control" type="text" [attr.disabled]="valid == true ? true : null"
                            formControlName="duration">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Quantity</label>
                          <input class="form-control" type="text" [attr.disabled]="valid == true ? true : null"
                            formControlName="quantity">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">GST Percentage</label>
                          <input class="form-control" type="number" [attr.disabled]="valid == true ? true : null"
                            formControlName="gstPercentage">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Commission Percentage</label>
                          <input class="form-control" type="number" [attr.disabled]="valid == true ? true : null"
                            formControlName="commissionPercentage">
                        </div>
                      </div>
                      <!-- <div class="col-md-4">
                        <div class="form-group">
                          <label for="dob">Image Url</label>
                          <a  href="{{imageUrl}}" target="_blank"  [attr.disabled]="valid == true ? true : null"
                          formControlName="imageUrl">Image</a>
                          <a class="form-control" type="text" [attr.disabled]="valid == true ? true : null"
                            formControlName="imageUrl">
                        </div>
                      </div> -->



                      <!-- <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Reg Start Date</label>
                          <input class="form-control" type="date" [attr.disabled]="valid == true ? true : null"
                            formControlName="regStartDate">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="role">Reg End Date</label>
                          <input class="form-control" type="date" [attr.disabled]="valid == true ? true : null"
                            formControlName="regEndDate">
                        </div>
                      </div> -->
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Upload photos</label>
                          <input name="file-upload-field" type="file" class="file-upload-field" formControlName="file"
                            (change)="fileUploader($event)" [attr.disabled]="valid == true ? true : null" />
                        </div>
                      </div>

                    </div>

                    <h4 class="display-6 mr-4 text-primary">Address Details</h4>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="firstName">Address Line 1</label>
                          <input type="text" class="form-control" [attr.disabled]="valid == true ? true : null"
                            formControlName="addressLine1">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="firstName">Address Line 2</label>
                          <input type="text" class="form-control" [attr.disabled]="valid == true ? true : null"
                            formControlName="addressLine2">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="firstName">Venue Name</label>
                          <input type="text" class="form-control" [attr.disabled]="valid == true ? true : null"
                            formControlName="venueName">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="firstName">City</label>
                          <!-- <input type="text" class="form-control" [attr.disabled]="valid == true ? true : null"
                            formControlName="city"> -->

                          <select class="form-control" [attr.disabled]="valid == true ? true : null"
                            formControlName="city">
                            <option value="Mumbai">Mumbai</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="firstName">State</label>
                          <!-- <input type="text" class="form-control" [attr.disabled]="valid == true ? true : null"
                            formControlName="state"> -->
                            <select class="form-control" [attr.disabled]="valid == true ? true : null"
                            formControlName="state">
                            <option value="Maharashtra">Maharashtra</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="firstName">Postal Code</label>
                          <input type="number" class="form-control" [attr.disabled]="valid == true ? true : null"
                            formControlName="postalCode">
                        </div>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary d-inline-block top-button" *ngIf="!flag">
                      Update
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
