<div class="container-fluid">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="display-4 mr-4 font-weight-bold text-primary">Company</h3>
              <div class="pull-right btn_group">
                <button type="button" class="btn btn-primary d-inline-block top-button" [routerLink]="['/add-company']">
                  <i class="fas fa-building"></i> Create company
                </button>
              </div>
            </div>
          </div>
          <div class="fluid-container">
            <div class="card-body all-icons py-0">
              <div class="row">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-12 px-0">
                  <div *ngIf="data == null" class="text-center">
                    <p>No Records</p>
                  </div>
                  <div class="table-responsive mb-4" *ngIf="data != null">
                    <table class="table userTable">
                      <thead>
                        <tr>
                          <!-- <th>Username</th> -->
                          <th>Name</th>
                          <th>Email Id</th>
                          <th>Contact Number</th>
                          <th>Date of birth</th>
                          <th>Added On</th>
                          <th>Status</th>
                          <th>Details</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let company of data">
                          <!-- <td>{{ company.username }}</td> -->
                          <td>
                            {{ company.firstName }} {{ company.lastName }}
                          </td>
                          <td>{{ company.email }}</td>
                          <td> +{{ company.countryCode }} {{ company.mobileNumber }}</td>
                          <td>{{ company.dob }}</td>
                          <td>{{ company.createDate | date: "mediumDate" }}</td>
                          <td>{{ company.activated }}</td>
                          <td>
                            <button type="button" class="btn btn-primary" (click)="companyDetails(company.id)">Details</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>