<div class="container-fluid">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="display-4 mr-4 font-weight-bold text-primary">Add Event</h3>
            </div>
          </div>
          <div class="fluid-container">
            <div class="card-body all-icons py-0">
              <div class="row">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-12 px-0">
                  <form class="forms-sample" [formGroup]="addEvent" (ngSubmit)="addEventSubmit(addEvent)">
                    <div class="row">

                      <div class="col-md-12">
                        <h4 class="display-6 mr-4 mt-5">Basic Details</h4>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Company Name</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                                addEvent.get('userId').invalid &&
                                addEvent.get('userId').touched
                              ">
                            <select class="form-control" formControlName="userId">
                              <option value="" [selected]="true" [disabled]="true" hidden>Select Company Name</option>
                              <option *ngFor="let name of companyName" [ngValue]="name.id">{{ name.companyName }}
                              </option>
                            </select>
                          </div>
                          <small *ngIf="
                                addEvent.controls['userId'].hasError(
                                  'required'
                                ) &&
                                (addEvent.controls['userId'].dirty ||
                                  addEvent.controls['userId'].touched)
                              " class="text-danger">
                            Please Enter a Valid Company Name
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Organized By</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                                  addEvent.get('organizedBy').invalid &&
                                  addEvent.get('organizedBy').touched
                                ">
                            <input type="text" class="form-control" id="organizedBy" placeholder="Organized By"
                              formControlName="organizedBy" />
                          </div>
                          <small *ngIf="
                                  (addEvent.controls['organizedBy'].hasError(
                                    'required'
                                  ) ||
                                    addEvent.controls['organizedBy'].hasError(
                                      'pattern'
                                    )) &&
                                  (addEvent.controls['organizedBy'].dirty ||
                                    addEvent.controls['organizedBy'].touched)
                                " class="text-danger">
                            Please Enter a Valid Organized By
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Event Name</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                                  addEvent.get('name').invalid &&
                                  addEvent.get('name').touched
                                ">
                            <input type="text" class="form-control" id="discription" placeholder="name"
                              formControlName="name" />
                          </div>
                          <small *ngIf="
                                  addEvent.controls['name'].hasError(
                                    'required'
                                  ) &&
                                  (addEvent.controls['name'].dirty ||
                                    addEvent.controls['name'].touched)
                                " class="text-danger">
                            Please Enter a Valid Event Name
                          </small>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Event Description</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                              addEvent.get('discription').invalid &&
                              addEvent.get('discription').touched
                            ">
                            <input type="text" class="form-control" id="discription" placeholder="Event Description"
                              formControlName="discription" />
                          </div>
                          <small *ngIf="
                              addEvent.controls['discription'].hasError(
                                'required'
                              ) &&
                              (addEvent.controls['discription'].dirty ||
                                addEvent.controls['discription'].touched)
                            " class="text-danger">
                            Please Enter a Valid Event Description
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Interests </label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                                addEvent.get('typeId').invalid &&
                                addEvent.get('typeId').touched
                              ">
                            <select class="form-control" formControlName="typeId">
                              <option value="" [selected]="true" [disabled]="true" hidden>Select Interests</option>
                              <option *ngFor="let typeId of allEvent" [ngValue]="typeId.id">{{ typeId.typeId }}</option>
                            </select>
                          </div>
                          <small *ngIf="
                                addEvent.controls['typeId'].hasError(
                                  'required'
                                ) &&
                                (addEvent.controls['typeId'].dirty ||
                                  addEvent.controls['typeId'].touched)
                              " class="text-danger">
                            Please Enter a Valid Interests
                          </small>
                        </div>
                      </div>


                      <div class="col-md-12">
                        <h4 class="display-6 mr-4 mt-5">Price Details</h4>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Price of tickets</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                                      addEvent.get('price').invalid &&
                                      addEvent.get('price').touched
                                    ">
                            <input type="number" class="form-control" id="price" placeholder="Price of tickets"
                              formControlName="price" />
                          </div>
                          <small *ngIf="
                                      (addEvent.controls['price'].hasError(
                                        'required'
                                      ) ||
                                        addEvent.controls['price'].hasError(
                                          'pattern'
                                        )) &&
                                      (addEvent.controls['price'].dirty ||
                                        addEvent.controls['price'].touched)
                                    " class="text-danger">
                            Please Enter a Valid Price of tickets
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Reward Points Required to Unlock</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                                addEvent.get('reward').invalid &&
                                addEvent.get('reward').touched
                              ">
                            <input type="number" class="form-control" id="reward"
                              placeholder="Reward Points Required to Unlock" formControlName="reward" />
                          </div>
                          <small *ngIf="
                                (addEvent.controls['reward'].hasError(
                                  'required'
                                ) ||
                                  addEvent.controls['reward'].hasError(
                                    'pattern'
                                  )) &&
                                (addEvent.controls['reward'].dirty ||
                                  addEvent.controls['reward'].touched)
                              " class="text-danger">
                            Please Enter a Valid Reward Points Required to Unlock
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Discount on Tickets</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                                  addEvent.get('dicountedPrice').invalid &&
                                  addEvent.get('dicountedPrice').touched
                                ">
                            <input type="number" class="form-control" id="dicountedPrice"
                              placeholder="Discount on Tickets" formControlName="dicountedPrice" />
                          </div>
                          <small *ngIf="
                                  (addEvent.controls['dicountedPrice'].hasError(
                                    'required'
                                  ) ||
                                    addEvent.controls['dicountedPrice'].hasError(
                                      'pattern'
                                    )) &&
                                  (addEvent.controls['dicountedPrice'].dirty ||
                                    addEvent.controls['dicountedPrice'].touched)
                                " class="text-danger">
                            Please Enter a Valid Discount on Tickets
                          </small>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <h4 class="display-6 mr-4 mt-5">Duration Details</h4>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">Regitration start date</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                              addEvent.get('regStartDate').invalid &&
                              addEvent.get('regStartDate').touched
                            ">
                            <input type="date" class="form-control" id="date" formControlName="regStartDate" />
                          </div>
                          <small *ngIf="
                              addEvent.controls['regStartDate'].hasError(
                                'required'
                              ) &&
                              (addEvent.controls['regStartDate'].dirty ||
                                addEvent.controls['regStartDate'].touched)
                            " class="text-danger">
                            Please Enter a Valid Regitration start date
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">Regitration End start date</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                              addEvent.get('regEndDate').invalid &&
                              addEvent.get('regEndDate').touched
                            ">
                            <input type="date" class="form-control" id="date" formControlName="regEndDate"
                              min="{{addEvent.value.regStartDate}}" />
                          </div>
                          <small *ngIf="
                              addEvent.controls['regEndDate'].hasError(
                                'required'
                              ) &&
                              (addEvent.controls['regEndDate'].dirty ||
                                addEvent.controls['regEndDate'].touched)
                            " class="text-danger">
                            Please Enter a Valid Regitration End start date
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">Event Start Date</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                              addEvent.get('eventStartDate').invalid &&
                              addEvent.get('eventStartDate').touched
                            ">
                            <input type="date" class="form-control" id="date" formControlName="eventStartDate" />
                          </div>
                          <small *ngIf="
                              addEvent.controls['eventStartDate'].hasError(
                                'required'
                              ) &&
                              (addEvent.controls['eventStartDate'].dirty ||
                                addEvent.controls['eventStartDate'].touched)
                            " class="text-danger">
                            Please Enter a Valid Event Start Date
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">Event End Date</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                              addEvent.get('eventEndDate').invalid &&
                              addEvent.get('eventEndDate').touched
                            ">
                            <input type="date" class="form-control" id="date" formControlName="eventEndDate"
                              min="{{addEvent.value.eventStartDate}}" />
                          </div>
                          <small *ngIf="
                              addEvent.controls['eventEndDate'].hasError(
                                'required'
                              ) &&
                              (addEvent.controls['eventEndDate'].dirty ||
                                addEvent.controls['eventEndDate'].touched)
                            " class="text-danger">
                            Please Enter a Valid Event End Date
                          </small>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">Event Duration</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                              addEvent.get('duration').invalid &&
                              addEvent.get('duration').touched
                            ">
                            <input type="text" class="form-control" id="date" formControlName="duration"
                              placeholder="Event Duration" />
                          </div>
                          <small *ngIf="
                              addEvent.controls['duration'].hasError(
                                'required'
                              ) &&
                              (addEvent.controls['duration'].dirty ||
                                addEvent.controls['duration'].touched)
                            " class="text-danger">
                            Please Enter a Valid Event Duration
                          </small>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">Number of tickets available</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                              addEvent.get('quantity').invalid &&
                              addEvent.get('quantity').touched
                            ">
                            <input type="text" class="form-control" id="date" formControlName="quantity"
                              placeholder="Number of tickets available" />
                          </div>
                          <small *ngIf="
                              addEvent.controls['quantity'].hasError(
                                'required'
                              ) &&
                              (addEvent.controls['quantity'].dirty ||
                                addEvent.controls['quantity'].touched)
                            " class="text-danger">
                            Please Enter a Valid Number of tickets available
                          </small>
                        </div>
                      </div>





                      <div class="col-md-12">
                        <h4 class="display-6 mr-4 mt-5">Adddress Details</h4>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="address">Address Line 1</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                              addEvent.get('addressLine1').invalid &&
                              addEvent.get('addressLine1').touched
                            ">
                            <textarea class="form-control" placeholder="Address Line1" type="text" row="1"
                              formControlName="addressLine1"></textarea>
                          </div>
                          <small *ngIf="
                              addEvent.controls['addressLine1'].hasError(
                                'required'
                              ) &&
                              (addEvent.controls['addressLine1'].dirty ||
                                addEvent.controls['addressLine1'].touched)
                            " class="text-danger">
                            Please Enter a Valid Address Line1
                          </small>
                          <small *ngIf="
                              addEvent.controls['addressLine1'].hasError(
                                'minlength'
                              ) &&
                              (addEvent.controls['addressLine1'].dirty ||
                                addEvent.controls['addressLine1'].touched)
                            " class="text-danger">
                            Min Limit is 64 Characters
                          </small>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="address">Address Line 2</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                              addEvent.get('addressLine2').invalid &&
                              addEvent.get('addressLine2').touched
                            ">
                            <textarea class="form-control" placeholder="Address Line2" type="text" row="1"
                              formControlName="addressLine2"></textarea>
                          </div>
                          <small *ngIf="
                              addEvent.controls['addressLine2'].hasError(
                                'required'
                              ) &&
                              (addEvent.controls['addressLine2'].dirty ||
                                addEvent.controls['addressLine2'].touched)
                            " class="text-danger">
                            Please Enter a Valid Address Line1
                          </small>
                          <small *ngIf="
                              addEvent.controls['addressLine2'].hasError(
                                'minlength'
                              ) &&
                              (addEvent.controls['addressLine2'].dirty ||
                                addEvent.controls['addressLine2'].touched)
                            " class="text-danger">
                            Min Limit is 64 Characters
                          </small>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Venue Name</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                                  addEvent.get('venueName').invalid &&
                                  addEvent.get('venueName').touched
                                ">
                            <input type="text" class="form-control" id="venueName" placeholder="venue Name"
                              formControlName="venueName" />
                          </div>
                          <small
                            *ngIf=" (addEvent.controls['venueName'].hasError('required' ) || addEvent.controls['venueName'].hasError(
                                      'pattern' )) && (addEvent.controls['venueName'].dirty || addEvent.controls['venueName'].touched)"
                            class="text-danger">
                            Please Enter a Valid Venue Name
                          </small>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">City</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                              addEvent.get('city').invalid &&
                              addEvent.get('city').touched
                            ">
                            <select class="form-control" formControlName="city">
                              <option value="" [selected]="true" [disabled]="true" hidden>Select city</option>
                              <option>Mumbai</option>
                            </select>
                          </div>
                          <small *ngIf="
                              addEvent.controls['city'].hasError('required') &&
                              (addEvent.controls['city'].dirty ||
                                addEvent.controls['city'].touched)
                            " class="text-danger">
                            Please Enter a Valid city
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">State</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                              addEvent.get('state').invalid &&
                              addEvent.get('state').touched
                            ">
                            <select class="form-control" formControlName="state">
                              <option value="" [selected]="true" [disabled]="true" hidden>Select state</option>
                              <option>Maharashtra</option>
                            </select>
                          </div>
                          <small *ngIf="
                              addEvent.controls['state'].hasError('required') &&
                              (addEvent.controls['state'].dirty ||
                                addEvent.controls['state'].touched)
                            " class="text-danger">
                            Please Enter a Valid state
                          </small>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Postal Code</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                              addEvent.get('postalCode').invalid &&
                              addEvent.get('postalCode').touched
                            ">
                            <input type="number" class="form-control" id="postalCode" placeholder="Postal code"
                              formControlName="postalCode" />
                          </div>
                          <small *ngIf="
                              (addEvent.controls['postalCode'].hasError(
                                'required'
                              ) ||
                                addEvent.controls['postalCode'].hasError(
                                  'pattern'
                                )) &&
                              (addEvent.controls['postalCode'].dirty ||
                                addEvent.controls['postalCode'].touched)
                            " class="text-danger">
                            Please Enter a Valid Postal Code
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email"> Upload Photos</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                              addEvent.get('file').invalid &&
                              addEvent.get('file').touched
                            ">
                            <input name="file-upload-field" type="file" class="file-upload-field" formControlName="file"
                              (change)="fileUploader($event)" />
                          </div>
                          <small *ngIf="
                              (addEvent.controls['file'].hasError('required') ||
                                addEvent.controls['file'].hasError(
                                  'pattern'
                                )) &&
                              (addEvent.controls['file'].dirty ||
                                addEvent.controls['file'].touched)
                            " class="text-danger">
                            Please Enter a Valid Upload File
                          </small>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-success mr-2 mt-3">
                      Add
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>