<div class="container-fluid">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="display-4 mr-4 font-weight-bold text-primary">Add Offers</h3>
            </div>
          </div>
          <div class="fluid-container">
            <div class="card-body all-icons py-0">
              <div class="row">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-12 px-0">
                  <form class="forms-sample" [formGroup]="addOffers" (ngSubmit)="addOffersSubmit(addOffers)">
                    <div class="row">

                      <div class="col-md-12">
                        <h4 class="display-6 mr-4 mt-5">Basic Details</h4>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Company Name </label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('typeId').invalid && addOffers.get('typeId').touched">
                            <select class="form-control" formControlName="userId">
                              <option value="" [selected]="true" [disabled]="true" hidden>Select Company Name</option>
                              <option *ngFor="let name of companyName" [ngValue]="name.id">{{ name.companyName }}
                              </option>
                            </select>
                          </div>
                          <small
                            *ngIf="addOffers.controls['typeId'].hasError('required') && (addOffers.controls['typeId'].dirty || addOffers.controls['typeId'].touched)"
                            class="text-danger">
                            Please Enter a Valid Company Name
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Organized By</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('organizedBy').invalid && addOffers.get('organizedBy').touched">
                            <input type="text" class="form-control" id="organizedBy" placeholder="Organized By"
                              formControlName="organizedBy" />
                          </div>
                          <small
                            *ngIf="(addOffers.controls['organizedBy'].hasError('required') ||addOffers.controls['organizedBy'].hasError(
                                  'pattern')) && (addOffers.controls['organizedBy'].dirty || addOffers.controls['organizedBy'].touched)"
                            class="text-danger">
                            Please Enter a Valid Organized By
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Offer Name</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('name').invalid && addOffers.get('name').touched">
                            <input type="text" class="form-control" id="discription" placeholder="Offer Name"
                              formControlName="name" />
                          </div>
                          <small *ngIf="addOffers.controls['name'].hasError('required') && (addOffers.controls['name'].dirty ||
                                    addOffers.controls['name'].touched)" class="text-danger">
                            Please Enter a Valid Offer Name
                          </small>
                        </div>
                      </div>




                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Interests</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('typeId').invalid && addOffers.get('typeId').touched">
                            <select class="form-control" formControlName="typeId">
                              <option value="" [selected]="true" [disabled]="true" hidden>Select Interests</option>
                              <option *ngFor="let typeId of allEvent" [ngValue]="typeId.id">{{typeId.discription}}</option>
                            </select>
                          </div>
                          <small
                            *ngIf="addOffers.controls['typeId'].hasError('required') && (addOffers.controls['typeId'].dirty || addOffers.controls['typeId'].touched)"
                            class="text-danger">
                            Please Enter a Valid Offer Interests
                          </small>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Offer Description</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('discription').invalid && addOffers.get('discription').touched">
                            <textarea type="text" class="form-control text_area" id="discription"
                              placeholder="Discription" formControlName="discription" draggable="true">
                             </textarea>
                          </div>
                          <small
                            *ngIf="addOffers.controls['discription'].hasError('required') &&(addOffers.controls['discription'].dirty || addOffers.controls['discription'].touched)"
                            class="text-danger">
                            Please Enter a Valid Offer Description
                          </small>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <h4 class="display-6 mr-4 mt-5">Price Details</h4>
                      </div>


                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Price of tickets</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('price').invalid && addOffers.get('price').touched">
                            <input type="number" class="form-control" id="price" placeholder="Price of tickets"
                              formControlName="price" />
                          </div>
                          <small
                            *ngIf="addOffers.controls['price'].hasError('required') &&(addOffers.controls['price'].dirty || addOffers.controls['price'].touched)"
                            class="text-danger">
                            Please Enter a Valid Price of tickets
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Reward Points Required to Unlock</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('reward').invalid && addOffers.get('reward').touched">
                            <input type="number" class="form-control" id="reward"
                              placeholder="Reward Points Required to Unlock" formControlName="reward" />
                          </div>
                          <small
                            *ngIf="(addOffers.controls['reward'].hasError('required') ||
                                    addOffers.controls['reward'].hasError('pattern' )) && (addOffers.controls['reward'].dirty || addOffers.controls['reward'].touched)"
                            class="text-danger">
                            Please Enter a Valid Reward Points Required to Unlock
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Discount on Tickets</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('dicountedPrice').invalid && addOffers.get('dicountedPrice').touched">
                            <input type="number" class="form-control" id="dicountedPrice"
                              placeholder="Discount on Tickets" formControlName="dicountedPrice" />
                          </div>
                          <small
                            *ngIf="(addOffers.controls['dicountedPrice'].hasError('required') ||addOffers.controls['dicountedPrice'].hasError(
                                    'pattern')) && (addOffers.controls['dicountedPrice'].dirty || addOffers.controls['dicountedPrice'].touched)"
                            class="text-danger">
                            Please Enter a Valid Discount on Tickets
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Payment Type </label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('paymentType').invalid && addOffers.get('paymentType').touched">
                            <select class="form-control" formControlName="paymentType">
                              <option value="" [selected]="true" [disabled]="true" hidden>Select type</option>
                              <option value="FREE">FREE</option>
                              <option value="OFFLINE">OFFLINE</option>
                              <option value="PAYABLE">PAYABLE</option>
                              <option value="BOTH">BOTH</option>
                            </select>
                          </div>
                          <small
                            *ngIf="addOffers.controls['paymentType'].hasError('required') && (addOffers.controls['paymentType'].dirty || addOffers.controls['paymentType'].touched)"
                            class="text-danger">
                            Please Enter a Valid Payment Types
                          </small>
                        </div>
                      </div>


                      <div class="col-md-12">
                        <h4 class="display-6 mr-4 mt-5">Duration Details</h4>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">Offer Start date</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('startDate').invalid && addOffers.get('startDate').touched">
                            <input type="date" class="form-control" id="date" formControlName="startDate" />
                          </div>
                          <small
                            *ngIf="addOffers.controls['startDate'].hasError('required') && (addOffers.controls['startDate'].dirty || addOffers.controls['startDate'].touched)"
                            class="text-danger">
                            Please Enter a Valid Start date
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">Offer End date</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('endDate').invalid && addOffers.get('endDate').touched">
                            <input type="date" class="form-control" id="date" formControlName="endDate"
                              min="{{addOffers.value.startDate}}" />
                          </div>
                          <small
                            *ngIf="addOffers.controls['endDate'].hasError('required') && (addOffers.controls['endDate'].dirty || addOffers.controls['endDate'].touched)"
                            class="text-danger">
                            Please Enter a Valid End date
                          </small>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">Regitration start date</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('regStartDate').invalid && addOffers.get('regStartDate').touched">
                            <input type="date" class="form-control" id="date" formControlName="regStartDate" />
                          </div>
                          <small
                            *ngIf="addOffers.controls['regStartDate'].hasError('required') && (addOffers.controls['regStartDate'].dirty || addOffers.controls['regStartDate'].touched)"
                            class="text-danger">
                            Please Enter a Valid Regitration start date
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">Regitration End start date</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('regEndDate').invalid && addOffers.get('regEndDate').touched">
                            <input type="date" class="form-control" id="date" formControlName="regEndDate"
                              min="{{addOffers.value.regStartDate}}" />
                          </div>
                          <small
                            *ngIf="addOffers.controls['regEndDate'].hasError('required') && (addOffers.controls['regEndDate'].dirty || addOffers.controls['regEndDate'].touched)"
                            class="text-danger">
                            Please Enter a Valid Regitration End start date
                          </small>
                        </div>
                      </div>

                      <!-- <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Image URL</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('imageUrl').invalid && addOffers.get('imageUrl').touched">
                            <input type="text" class="form-control" id="imageUrl" placeholder="Image URL"
                              formControlName="imageUrl" />
                          </div>
                          <small
                            *ngIf="addOffers.controls['imageUrl'].hasError('required') &&(addOffers.controls['imageUrl'].dirty ||addOffers.controls['imageUrl'].touched)"
                            class="text-danger">
                            Please Enter a Valid Link
                          </small>
                        </div>
                      </div> -->

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Quantity</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('quantity').invalid && addOffers.get('quantity').touched">
                            <input type="number" class="form-control" id="quantity" placeholder="Quantity"
                              formControlName="quantity" />
                          </div>
                          <small
                            *ngIf="addOffers.controls['quantity'].hasError('required') &&(addOffers.controls['quantity'].dirty ||addOffers.controls['quantity'].touched)"
                            class="text-danger">
                            Please Enter a Venue Name
                          </small>
                        </div>
                      </div>


                      <div class="col-md-12">
                        <h4 class="display-6 mr-4 mt-5">Adddress Details</h4>
                      </div>


                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Venue Name</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('venueName').invalid && addOffers.get('venueName').touched">
                            <input type="text" class="form-control" id="venueName" placeholder="Venue Name"
                              formControlName="venueName" />
                          </div>
                          <small
                            *ngIf="addOffers.controls['venueName'].hasError('required') &&(addOffers.controls['venueName'].dirty ||addOffers.controls['venueName'].touched)"
                            class="text-danger">
                            Please Enter a Venue Name
                          </small>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="address">Address Line 1</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('addressLine1').invalid && addOffers.get('addressLine1').touched">
                            <textarea class="form-control text_area" placeholder="Address Line1" type="text"
                              draggable="true" formControlName="addressLine1"></textarea>
                          </div>
                          <small
                            *ngIf="addOffers.controls['addressLine1'].hasError('required') && (addOffers.controls['addressLine1'].dirty || addOffers.controls['addressLine1'].touched)"
                            class="text-danger">
                            Please Enter a Valid Address Line1
                          </small>
                          <small
                            *ngIf="
                                addOffers.controls['addressLine1'].hasError('minlength') && (addOffers.controls['addressLine1'].dirty || addOffers.controls['addressLine1'].touched)"
                            class="text-danger">
                            Min Limit is 64 Characters
                          </small>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="address">Address Line 2</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('addressLine2').invalid && addOffers.get('addressLine2').touched">
                            <textarea class="form-control text_area" placeholder="Address Line2" type="text"
                              draggable="true" formControlName="addressLine2"></textarea>
                          </div>
                          <small
                            *ngIf="addOffers.controls['addressLine2'].hasError('required') && (addOffers.controls['addressLine2'].dirty || addOffers.controls['addressLine2'].touched)"
                            class="text-danger">
                            Please Enter a Valid Address Line1
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">City</label>
                          <div class="input-group input-group-alternative"
                            [class.form_error]="addOffers.get('city').invalid && addOffers.get('city').touched">
                            <select class="form-control" formControlName="city">
                              <option value="" [selected]="true" [disabled]="true" hidden>Select city</option>
                              <option>Mumbai</option>
                            </select>
                          </div>
                          <small
                            *ngIf="addOffers.controls['city'].hasError('required') && (addOffers.controls['city'].dirty || addOffers.controls['city'].touched)"
                            class="text-danger">
                            Please Enter a Valid city
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">State</label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('state').invalid &&
                                addOffers.get('state').touched
                              ">
                            <select class="form-control" formControlName="state">
                              <option value="" [selected]="true" [disabled]="true" hidden>Select state</option>
                              <option>Maharashtra</option>
                            </select>
                          </div>
                          <small *ngIf="
                                addOffers.controls['state'].hasError('required') &&
                                (addOffers.controls['state'].dirty ||
                                  addOffers.controls['state'].touched)
                              " class="text-danger">
                            Please Enter a Valid state
                          </small>
                        </div>
                      </div>



                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Postal Code</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                                addOffers.get('postalCode').invalid &&
                                addOffers.get('postalCode').touched
                              ">
                            <input type="number" class="form-control" id="postalCode" placeholder="Postal code"
                              formControlName="postalCode" />
                          </div>
                          <small *ngIf="
                                (addOffers.controls['postalCode'].hasError(
                                  'required'
                                ) ||
                                  addOffers.controls['postalCode'].hasError(
                                    'pattern'
                                  )) &&
                                (addOffers.controls['postalCode'].dirty ||
                                  addOffers.controls['postalCode'].touched)
                              " class="text-danger">
                            Please Enter a Valid Postal Code
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email"> Upload Photos</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                                addOffers.get('file').invalid &&
                                addOffers.get('file').touched
                              ">
                            <input name="file-upload-field" type="file" class="file-upload-field" formControlName="file"
                              (change)="fileUploader($event)" />
                          </div>
                          <small *ngIf="
                                (addOffers.controls['file'].hasError('required') ||
                                  addOffers.controls['file'].hasError(
                                    'pattern'
                                  )) &&
                                (addOffers.controls['file'].dirty ||
                                  addOffers.controls['file'].touched)
                              " class="text-danger">
                            Please Enter a Valid postalCode Code
                          </small>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email"> Upload detail photos</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                                addOffers.get('file').invalid &&
                                addOffers.get('file').touched
                              ">
                            <input name="file-upload-field" type="file" class="file-upload-field"
                              formControlName="file2" (change)="fileUploader($event)" />
                          </div>
                          <small *ngIf="
                                (addOffers.controls['file'].hasError('required') ||
                                  addOffers.controls['file'].hasError(
                                    'pattern'
                                  )) &&
                                (addOffers.controls['file'].dirty ||
                                  addOffers.controls['file'].touched)
                              " class="text-danger">
                            Upload detail photos is required.
                          </small>
                        </div>
                      </div>



                    </div>

                    <!-- <div class="row"> -->



                    <!-- </div> -->
                    <!-- </div> -->
                    <button type="submit" class="btn btn-success mr-2 mt-3">
                      Add
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>