<div class="container-fluid">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="display-4 mr-4 font-weight-bold text-primary">Add Offers</h3>
            </div>
          </div>
          <div class="fluid-container">
            <div class="card-body all-icons py-0">
              <div class="row">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-12 px-0">
                  <form class="forms-sample" [formGroup]="addOffers" (ngSubmit)="addOffersSubmit(addOffers)">
                    <div class="row">

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Name</label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('name').invalid && addOffers.get('name').touched">
                            <input type="text" class="form-control" id="discription" placeholder="name" formControlName="name" />
                          </div>
                          <small *ngIf="addOffers.controls['name'].hasError('required') && (addOffers.controls['name'].dirty ||
                                    addOffers.controls['name'].touched)"
                            class="text-danger">
                            Please Enter a Valid name
                          </small>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Discription</label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('discription').invalid && addOffers.get('discription').touched">
                            <input type="text" class="form-control" id="discription" placeholder="Discription"
                              formControlName="discription" />
                          </div>
                          <small *ngIf="addOffers.controls['discription'].hasError('required') &&(addOffers.controls['discription'].dirty || addOffers.controls['discription'].touched)"
                            class="text-danger">
                            Please Enter a Valid Discription
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Organized By</label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('organizedBy').invalid && addOffers.get('organizedBy').touched">
                            <input type="text" class="form-control" id="organizedBy" placeholder="Organized By"
                              formControlName="organizedBy" />
                          </div>
                          <small *ngIf="(addOffers.controls['organizedBy'].hasError('required') || addOffers.controls['organizedBy'].hasError( )) &&(addOffers.controls['organizedBy'].dirty || addOffers.controls['organizedBy'].touched)"
                            class="text-danger">
                            Please Enter a Valid Organized By
                          </small>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Dicounted Price</label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('dicountedPrice').invalid && addOffers.get('dicountedPrice').touched">
                            <input type="text" class="form-control" id="dicountedPrice" placeholder="Dicounted Price"
                              formControlName="dicountedPrice" />
                          </div>
                          <small *ngIf="(addOffers.controls['dicountedPrice'].hasError('required') ||addOffers.controls['dicountedPrice'].hasError(
                                    'pattern')) && (addOffers.controls['dicountedPrice'].dirty || addOffers.controls['dicountedPrice'].touched)"
                            class="text-danger">
                            Please Enter a Valid Dicounted Price
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">reward</label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('reward').invalid && addOffers.get('reward').touched">
                            <input type="text" class="form-control" id="reward" placeholder="Reward" formControlName="reward" />
                          </div>
                          <small *ngIf="(addOffers.controls['reward'].hasError('required') ||
                                    addOffers.controls['reward'].hasError('pattern' )) && (addOffers.controls['reward'].dirty || addOffers.controls['reward'].touched)"
                            class="text-danger">
                            Please Enter a Valid reward
                          </small>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">Start Date</label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('startDate').invalid && addOffers.get('startDate').touched">
                            <input type="date" class="form-control" id="date" formControlName="startDate" />
                          </div>
                          <small *ngIf="addOffers.controls['startDate'].hasError('required') && (addOffers.controls['startDate'].dirty || addOffers.controls['startDate'].touched)"
                            class="text-danger">
                            Please Enter a Valid Start Date
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">End Date</label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('endDate').invalid && addOffers.get('endDate').touched">
                            <input type="date" class="form-control" id="date" formControlName="endDate" />
                          </div>
                          <small *ngIf="addOffers.controls['endDate'].hasError('required') && (addOffers.controls['endDate'].dirty || addOffers.controls['endDate'].touched)"
                            class="text-danger">
                            Please Enter a Valid End Date
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Offers Type </label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('typeId').invalid && addOffers.get('typeId').touched">
                            <select class="form-control" formControlName="typeId">
                              <option value="" [selected]="true" [disabled]="true" hidden>Select type</option>
                              <option *ngFor="let typeId of allEvent" [ngValue]="typeId.id">{{ typeId.typeId }}</option>
                            </select>
                          </div>
                          <small *ngIf="addOffers.controls['typeId'].hasError('required') && (addOffers.controls['typeId'].dirty || addOffers.controls['typeId'].touched)"
                            class="text-danger">
                            Please Enter a Valid Offer Types
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">Price</label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('price').invalid && addOffers.get('price').touched">
                            <input type="text" class="form-control" id="price" placeholder="Price" formControlName="price" />
                          </div>
                          <small *ngIf="addOffers.controls['price'].hasError('required') &&(addOffers.controls['price'].dirty || addOffers.controls['price'].touched)"
                            class="text-danger">
                            Please Enter a Valid Price
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">Reg Start Date</label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('regStartDate').invalid && addOffers.get('regStartDate').touched">
                            <input type="date" class="form-control" id="date" formControlName="regStartDate" />
                          </div>
                          <small *ngIf="addOffers.controls['regStartDate'].hasError('required') && (addOffers.controls['regStartDate'].dirty || addOffers.controls['regStartDate'].touched)"
                            class="text-danger">
                            Please Enter a Valid Start Date
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">Reg End Date</label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('regEndDate').invalid && addOffers.get('regEndDate').touched">
                            <input type="date" class="form-control" id="date" formControlName="regEndDate" />
                          </div>
                          <small *ngIf="addOffers.controls['regEndDate'].hasError('required') && (addOffers.controls['regEndDate'].dirty || addOffers.controls['regEndDate'].touched)"
                            class="text-danger">
                            Please Enter a Valid Reg End Date
                          </small>
                        </div>
                      </div>


                    </div>

                    <div class="row">

                      <h4 class="display-6 mr-4 mt-5">Adddress Deatils</h4>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="address">Address Line 1</label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('addressLine1').invalid && addOffers.get('addressLine1').touched">
                            <textarea class="form-control" placeholder="Address Line1" type="text" row="1"
                              formControlName="addressLine1"></textarea>
                          </div>
                          <small *ngIf="addOffers.controls['addressLine1'].hasError('required') && (addOffers.controls['addressLine1'].dirty || addOffers.controls['addressLine1'].touched)"
                            class="text-danger">
                            Please Enter a Valid Address Line1
                          </small>
                          <small *ngIf="
                              addOffers.controls['addressLine1'].hasError('minlength') && (addOffers.controls['addressLine1'].dirty || addOffers.controls['addressLine1'].touched)"
                            class="text-danger">
                            Min Limit is 64 Characters
                          </small>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="address">Address Line 2</label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('addressLine2').invalid && addOffers.get('addressLine2').touched">
                            <textarea class="form-control" placeholder="Address Line2" type="text" row="1"
                              formControlName="addressLine2"></textarea>
                          </div>
                          <small *ngIf="addOffers.controls['addressLine2'].hasError('required') && (addOffers.controls['addressLine2'].dirty || addOffers.controls['addressLine2'].touched)"
                            class="text-danger">
                            Please Enter a Valid Address Line1
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">City</label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('city').invalid && addOffers.get('city').touched">
                            <select class="form-control" formControlName="city">
                              <option value="" [selected]="true" [disabled]="true" hidden>Select city</option>
                              <option>Mumbai</option>
                            </select>
                          </div>
                          <small *ngIf="addOffers.controls['city'].hasError('required') && (addOffers.controls['city'].dirty || addOffers.controls['city'].touched)"
                            class="text-danger">
                            Please Enter a Valid city
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleSelectPrimary">State</label>
                          <div class="input-group input-group-alternative" [class.form_error]="addOffers.get('state').invalid &&
                              addOffers.get('state').touched
                            ">
                            <select class="form-control" formControlName="state">
                              <option value="" [selected]="true" [disabled]="true" hidden>Select state</option>
                              <option>Maharashtra</option>
                            </select>
                          </div>
                          <small *ngIf="
                              addOffers.controls['state'].hasError('required') &&
                              (addOffers.controls['state'].dirty ||
                                addOffers.controls['state'].touched)
                            "
                            class="text-danger">
                            Please Enter a Valid state
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Postal Code</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                              addOffers.get('postalCode').invalid &&
                              addOffers.get('postalCode').touched
                            ">
                            <input type="text" class="form-control" id="postalCode" placeholder="Postal code"
                              formControlName="postalCode" />
                          </div>
                          <small *ngIf="
                              (addOffers.controls['postalCode'].hasError(
                                'required'
                              ) ||
                                addOffers.controls['postalCode'].hasError(
                                  'pattern'
                                )) &&
                              (addOffers.controls['postalCode'].dirty ||
                                addOffers.controls['postalCode'].touched)
                            "
                            class="text-danger">
                            Please Enter a Valid Postal Code
                          </small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email"> Upload Photos</label>
                          <div class="input-group input-group-alternative" [class.form_error]="
                              addOffers.get('file').invalid &&
                              addOffers.get('file').touched
                            ">
                            <input name="file-upload-field" type="file" class="file-upload-field" formControlName="file"
                              (change)="fileUploader($event)" />
                          </div>
                          <small *ngIf="
                              (addOffers.controls['file'].hasError('required') ||
                                addOffers.controls['file'].hasError(
                                  'pattern'
                                )) &&
                              (addOffers.controls['file'].dirty ||
                                addOffers.controls['file'].touched)
                            "
                            class="text-danger">
                            Please Enter a Valid postalCode Code
                          </small>
                        </div>
                      </div>

                    </div>
                    <!-- </div> -->
                    <button type="submit" class="btn btn-success mr-2 mt-3">
                      Add
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>