<div class="container-fluid">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="display-4 mr-4 font-weight-bold text-primary">Account Ledger</h3>
            </div>
          </div>
          <div class="fluid-container">
            <div class="card-body all-icons py-0">
              <div class="row">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-12 px-0">
                  <div *ngIf="data == null" class="text-center">
                    <p>No Records</p>
                  </div>
                  <div class="table-responsive mb-4" *ngIf="data != null">
                    <table class="table userTable">
                      <thead>
                        <tr>
                          <th>Reward Points Alloted</th>
                          <th>Session Time in Minutes</th>
                          <th>Reward Points From</th>
                          <th>Reward Points To</th>
                          <th>Start Time</th>
                          <th>End Time</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let account of data">
                          <td>{{account.amount}}</td>
                          <td>{{account.sessionTime}}</td>
                          <td>{{account.userIdFrom}}</td>
                          <td>{{account.userIdTo}}</td>
                          <td>{{account.startTime}}</td>
                          <td>{{account.endTime}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>