<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="display-4 mr-4 font-weight-bold text-primary pull-left">Events</h3>


            <div class="filter_cont pull-left">
              <form [formGroup]="SearchFormModel">
               <div class=" input_divs">
                      <div class="form-group">
                        <input type="text" class="form-control cust_input" id="search_your_term"
                          placeholder="Search by Event Name" formControlName="searchText" (keyup)="onChange()"
                          [(ngModel)]="filter.name" />
                      </div>
                   
                
                </div>
              </form>
            </div>


              <div class="pull-right btn_group mt-4">
                <button type="button" class="btn btn-primary d-inline-block top-button mr-2"
                  [routerLink]="['/add-event']">
                  <i class="fas fa-building"></i> Add Events
                </button>
                <button type="button" class="btn btn-primary d-inline-block top-button" (click)="exportAsXLSX()">
                  <i class="fas fa-file-download"></i> Download File
                </button>
              </div>
            </div>
          
            <div class="clearfix"></div>
          </div>
          <div class="fluid-container">
            <div class="card-body all-icons py-0">
              <div class="row">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-12 px-0">
                  <div *ngIf="data == null" class="text-center">
                    <p>No Records</p>
                  </div>
                  <div class="table-responsive mb-4" *ngIf="data != null">
                    <table class="table userTable" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="8">
                      <thead>
                        <tr>
                          <th>Event Name</th>
                          <th>Discription</th>
                          <th>Organized By</th>
                          <th>Reward</th>
                          <th>Price</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Registration Start Date</th>
                          <th> Registration End Date</th>
                          <th>Image Url</th>
                          <th>Type Id</th>
                          <th>Details</th>
                          <th>Orders</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let events of mf.data">
                          <td>{{ events.name }}</td>
                          <td>{{ events.discription }}</td>
                          <td>{{ events.organizedBy }}</td>
                          <td>{{ events.reward }}</td>
                          <td>{{ events.price }}</td>
                          <td>{{ events.startDate | date }}</td>
                          <td>{{ events.endDate | date}}</td>
                          <td>{{events.regStartDate | date}}</td>
                          <td>{{events.regEndDate  | date}}</td>
                           <td><a  href="{{events.imageUrl}}" target="_blank">Image</a></td>
                          <td>{{ events.typeId }}</td>
                          <td class="text-center">
                            <!-- <button type="button" class="btn btn-primary button_btn"
                              (click)="eventDetails(events.id)">Details</button> -->
                            <a class="icon" (click)="eventDetails(events.id)"><i class="fas fa-eye"
                                style="color: #308ee0"></i></a>
                          </td>
                          <td class="text-center">
                            <!-- <button href="" class="btn btn-primary button_btn"
                              [routerLink]="['/order-history/' + events.id]" #{{events.id}} routerLinkActive="active"
                              (click)="orderEvent(events.id)">Order
                              History</button> -->
                            <a [routerLink]="['/order-history/' + events.id]" #{{events.id}} routerLinkActive="active"
                              (click)="orderEvent(events.id)"><i class="fas fa-shopping-cart"
                                style="cursor: pointer"></i></a>
                          </td>
                          <td class="text-center">
                            <button class="btn btn-success text-small button_btn text-center"
                              (click)="eventActive(events.id, true )" [disabled]="events.active == true">
                              <i class="fas fa-check-circle text-center" style="margin: 1px 1px"></i>
                            </button>
                            <button class="btn btn-danger ml-2 text-small button_btn text-center"
                              (click)="eventActive(events.id, false )" [disabled]="events.active == false">
                              <i class="fas fa-times-circle text-center" style="margin: 1px 1px"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="10">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>