<div class="container-fluid">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="display-4 mr-4 font-weight-bold text-primary">Order History</h3>
              <div class="pull-right btn_group">
                <button type="button" class="btn btn-primary d-inline-block top-button"
                  (click)="exportAsXLSX()">
                  <i class="fas fa-file-download"></i> Download File
                </button>
              </div>
            </div>
          </div>
          <div class="fluid-container">
            <div class="card-body all-icons py-0">
              <div class="row">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-12 px-0">
                  <div *ngIf="data == null" class="text-center">
                    <p>No Records</p>
                  </div>
                  <div class="table-responsive mb-4" *ngIf="data != null">
                    <table class="table userTable" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="8">
                      <thead>
                        <tr>
                          <th>Item Type</th>
                          <th>Item Name</th>
                          <th>Company Name</th>
                          <th>User name</th>
                          <th>Email</th>
                          <th>Contact Number</th>
                          <th>Payment Type</th>
                          <th>Amount Pay</th>
                          <th>Transaction Id</th>
                          <th>Discounted Amount</th>
                          <th>Base Amount</th>
                          <th>Gst Percentage</th>
                          <th>Commission Percentage</th>
                          <th>Reward</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let order of mf.data">
                          <td>{{order.itemType}}</td>
                          <td>{{order.itemName}}</td>
                          <td>{{order.companyName}}</td>
                          <td>{{order.userName}}</td>
                          <td>{{order.userEmail}}</td>
                          <td>{{order.userMobileNumber}}</td>
                          <td>{{order.paymentType}}</td>
                          <td>{{order.amountPay}}</td>
                          <td>{{order.transactionId }}</td>
                          <td>{{order.discountedAmount}}</td>
                          <td>{{order.baseAmount}}</td>
                          <td>{{order.gstPercentage}}</td>
                          <td>{{order.commissionPercentage}}</td>
                          <td>{{order.reward}}</td>
                        </tr>
                      </tbody>

                      <tfoot>
                        <tr>
                          <td colspan="10">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
